magento_api_settings:
    api_endpoint: 'https://your.hostname.com/rest/all'
    consumer_key: 'lakjdfablahblahsomekeydataasdf45l'
    consumer_secret: 'kaskljdfblahblahsecretdata0l4uvf'
    access_token: 'asdfblahblahaccesstokenfafasdfdf'
    access_secret: 'jladfblahblahaccesssecretblahbla'